#############################
## Java
#############################
.mtj.tmp /
*.classer
*.pot
*.guerre
*.oreille
* .nar
hs_err_pid *

#############################
## Maven
#############################
cible/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.bak
release.properties
dépendance-réduite-pom.xml
buildNumber.properties
.mvn / timing.properties
.mvn / wrapper / maven-wrapper.jar

#############################
## Gradle
#############################
poubelle/
construire/
.gradle
.gradletasknamecache
gradle-app.setting
! gradle-wrapper.jar

#############################
## IntelliJ
#############################
en dehors/
.idée/
.idea_modules /
* .iml
* .ipr
* .iws

#############################
## Éclipse
#############################
.Les paramètres/
poubelle/
tmp /
.metadata
.classpath
.projet
* .tmp
* .bak
* .swp
* ~ .nib
local.properties
.loadpath
.factorypath

#############################
## NetBeans
#############################
nbproject / privé /
construire/
nbbuild /
dist /
nbdist /
nbactions.xml
nb-configuration.xml

#############################
## Code Visual Studio
#############################
.vscode /
.code-espace de travail

#############################
## OS X
#############################
.DS_Store
